@import "compass/utilities";
@import "compass/css3";
@import "blueprint/typography";

// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;
$quiet-color: #aaa;
$blueprint-table-stripe-color: #f9f9f9;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

@mixin pipes {
	@include horizontal-list;
	li:before { content: "|"; padding-right: 10px }
	li:first-child:before { content: ""; }
	li { margin-right: 5px }
}

@mixin my-box-shadow(
  $color : $default-box-shadow-color,
  $hoff : $default-box-shadow-h-offset,
  $voff : $default-box-shadow-v-offset,
  $blur : $default-box-shadow-blur,
  $spread : $default-box-shadow-spread,
  $inset : $default-box-shadow-inset
) {
	@include box-shadow($color, $hoff, $voff, $blur, $spread, $inset);
  behavior: url(/javascripts/ie/PIE.htc);
}

@mixin my-gradient($color_stops) {
	@include linear-gradient($color_stops);
  -pie-background: linear-gradient($color_stops);
  behavior: url(/javascripts/ie/PIE.htc);
}

@mixin my-border-radius($radius: $default-border-radius, $vertical-radius: false) {
	@include border-radius($radius, $vertical-radius);
  behavior: url(/javascripts/ie/PIE.htc);
}

