/* Elements
--------------------------------------------------------- */
body {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  color: #444;
  font-size: 9pt;
	height: 100%;
}

a { color: #036 !important }
em { font-style: italic }
h1 { font-size: 16pt!important; }
h2 { font-size: 13pt; }
h3 { font-size: 12pt; margin: 5px 0}
h4 { font-size: 10pt; font-weight: bold; margin:0!important;}

.search_box {
	float: right;
	input {
			font-size: 9pt!important;
			width: 220px!important;
			padding: 4px;
			background: url(/images/icon_search.gif) 98% 50% no-repeat;
			@include border-radius(5px);
			border: 1px solid #ccc;
	}
}

#price_preferences {
	float: right;
	text-align: right;
}

tfoot { font-style: normal!important }
