.reqd {
  color: #c00;
}

form {
  legend {
    font-size: 11pt;
    padding-bottom: 5px;
    font-weight: bold;
  }
  fieldset {
    padding-bottom: 5px;
    margin-top: 5px;
  	ol.form {
    	border-bottom: 2px solid #eee;
  		margin: 0;
  		padding: 0;
    	li {
      	margin: 5px;
      	padding-bottom: 5px;
      	font-size: 10pt;
      	//overflow: hidden;
				list-style-type: none!important;
				//border-bottom: 1px solid #eee;
    	}
    	span.label, label {
      	width: 150px;
      	text-align: right;
      	display:block;
      	float: left;
      	margin-right: 10px;
      	margin-top: 5px;
    	}
			span.label { margin-top: 0}
    	.tip {
      	display: block;
      	margin: 2px 0;
      	margin-left: 160px;
    	}
			.value {
      	margin-left: 160px;
			}
		}
		/*
	  ul {
	    margin-left: 160px;
	    li {
	      margin: 2px 0;
	    }
	  }
		*/
	}
 	ol.inline_form {
		@include clearfix;
		margin: 0;
		padding: 5px 0;
		border-bottom: 1px solid #eee;
		label {
			display: block;
			font-weight: bold;
		}
		li {
			list-style-type: none!important;
			float: left;
			margin: 5px 15px;
		}
	}

  input,textarea,select {
    margin: 2px;
  }
  input[type=checkbox] {
    margin-top: 9px;
	}
  select {
    margin-top: 6px;
	}
  input[type=text],input[type=password] {
    width: 500px;
    font-size: 10pt;
  }
  .add {
    margin: 2px 0;
    font-size: 9pt;
  }
  a {
    color: #000;
  }

  .field_with_errors {
    display: inline;
    input {
      border: 1px solid #c00;
      padding: 5px!important;
			background: #ffe;
    }
  }
	.buttons {
		margin-left: 160px;
	}
}

textarea {
  padding: 5px;
  width: 500px;
  height: 200px;
}

  
.error {color:#c00;font-weight:normal}
div#errorExplanation { border:1px solid #c00;background-color:#fff!important;margin-bottom:10px;padding:0; height:100%;}
div#errorExplanation p {padding-left:5px;margin:0}
div#errorExplanation ul {padding:5px 10px;list-style: none;margin:0!important}
div#errorExplanation li { padding-left:20px!important; margin:5px 0; background:url(../images/icons/error.gif) no-repeat left center;}
div.errorExplanation h2 { font-size:11pt;color:#fff!important;margin:0 !important;padding:0;background-color:#c00 !important;}

label.inline {
  margin: 0;
  width: auto;
  display: inline;
  text-align: left;
  float: none;
}

ul.options {
	padding: 0;
	overflow: hidden;
  li { 
		padding: 0!important;
    margin: 0!important;
    margin-right: 30px!important;
    float: left;
  }
  label { 
    margin: 0!important;
    width: auto;
    float: none;
    display: inline;
  }
}

input.numeric {
	width: 100px!important;
	text-align: right;
}
.remove {
	float: right;
}

textarea.expandable {
	height: 70px;
}
textarea.expandable:focus {
	height: 370px;
}

.readonly {
		color: #999;
}


.primary {
	@include my-border-radius(4px);
	@include my-gradient(color-stops(#090, #070));
	font-size: 10pt!important;
	color: #fff!important;
	margin: 0!important;
	text-decoration: none;
	padding: 5px 10px!important;
	border: 1px solid #070;
	&:hover {
		cursor: pointer;
	}
}
.add_child a, .cancel {
	@include my-border-radius(4px);
	@include my-gradient(color-stops(#f5f5f5, #e5e5e5));
	font-size: 9pt!important;
	margin: 0!important;
	padding: 5px 10px!important;
	color: #000!important;
	text-decoration: none;
	border: 1px solid #ccc;
}
.add_child a {
	border: 1px solid #555;
	@include my-gradient(color-stops(#666, #000));
	color: #fff!important;
	font-size: 8pt!important;
	padding: 4px 10px!important;
}

.add_child, .buttons {
	@include clearfix;
	padding: 0;
	margin: 10px 0;
  border: 0;
	li {
 		list-style: none!important;
		float: left;
		margin-right: 30px;
		a {
			margin-top: 4px;
			display: block;
		}
	}
}
.add_child {
		margin-top:0;
		margin-bottom:20px;
}
