.pagination {
  background: #F1F1F1;
  background: inherit;
  border: 0px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
  .pagination a, .pagination span {
    padding: .2em .4em; }
  .pagination span.disabled {
    color: #AAA; }
  .pagination span.current {
    font-weight: bold;
    background: transparent url(/images/pagination-circle.gif) no-repeat 50% 50%; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }

