// Import the non-default scaffolding module to help us get started.
@import "blueprint/scaffolding";

// This configuration will only apply the
// blueprint styles to pages with a body class of "bp"
// This makes it easier to have pages without blueprint styles
// when you're using a single/combined stylesheet.

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction; }

.note {
	margin: 10px 0;
	@include quiet;
}

.tip {
	@include quiet;
}

h1 {
	font-size: 2.2em !important;
	margin-bottom: 20px!important;
}

@mixin large { font-size: 120%; }
@mixin x-large { font-size: 150%; }

.loud {
	@include x-large;
}

.hidden { display: none }

object {
	display: block;
}

.empty {
	@include x-large;
}

.flash {
  //.border-radius(5px);
  //.border-radius-for-ie(5px);
  padding: 5px 10px!important;
  margin: 5px 0;
  div { padding: 2px; }
  a { color: inherit; text-decoration: none; font-weight: bold;  float: right;}
}
.success { background-color: #9f9!important; border: 1px solid #6e6!important; }
.notice { background-color: #ffb!important; }
.error { background-color: #c33!important; color: #fff!important;border: 1px solid #c00!important }


.notice { background-color: #f80; border-width: 2px 0; }
#loading{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5000;
  background-color: #b00;
  font-size: 150%;
  color: white;
  padding: 2px;
  font-size: 9.5pt;
  margin: 5px;
  display:none;
}

table.form {
	width: 100%;
  tr {
    margin: 100px;
    border: 1px solid #fff;
  }
  th {
    background: #eee;
    text-align: right;
		width: 15%;
  }
  th, td {
    padding: 5px;
  }
  a {
    color: #000;
  }
}
table.list {
  width: 100%;
  thead {
    th {
      font-weight: bold;
      background: #eee;
    }
  }
  td, th {
		&.disabled {
			text-decoration: line-through;
		}
    overflow: hidden;
    padding: 5px;
		vertical-align: top;
		white-space: nowrap;
  }
  td {
    border-bottom: 1px solid #eee;
  }
}

.ops {
		float: right;
}
.links {
	text-align: right;
}
.hidden { display: none }
.empty { font-size: 12pt; color: #ccc; padding: 10px; text-align: center }

ul.meta {
	margin: 5px 0;
	@include pipes;
}

.blur {
	color: #999;
}

.numeric {
	text-align: right;
}

//.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
