= inside_layout 'application' do
  - content_for :sub_menu do
    %ul
      %li.current= link_to_unless_current 'Fragrances', fragrances_path
      %li= link_to_unless_current 'Accords', "#"

  = yield
